<div class="row">
    <div class="col-md-3">
        <div class="card shadow" >
            <div class="card-body">
              <h4 class="card-title text-uppercase text-center">Free</h4>
              <p class="card-text text-center">₦0</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">3 projects</li>
              <li class="list-group-item">1 member</li>
              <li class="list-group-item">5 task per project</li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
              <h4 class="card-title text-uppercase text-center">Basic</h4>
              <p class="card-text text-center">₦1000/month</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">10 projects</li>
              <li class="list-group-item">10 member</li>
              <li class="list-group-item">10 task per project</li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
              <h4 class="card-title text-uppercase text-center">Pro</h4>
              <p class="card-text text-center">₦5000/month</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">3 projects</li>
              <li class="list-group-item">1 member</li>
              <li class="list-group-item">10 task per project</li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title text-uppercase text-center">Need more?</h1>
            <p class="card-text text-center">₦?/month</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Need more projects?</li>
            <li class="list-group-item">Need more members?</li>
            <li class="list-group-item">Need more tasks?</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Contact us</a>
          </div>
        </div>
  </div>

</div>

