
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">Djanpy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'frontpage' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'privacy' %}">Privacy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'terms' %}">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'plans' %}">Plans</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      <a href="{% url 'accounts:signup' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</a href="{% url 'accounts:signup' %}">
    </form>
  </div>
</div>
</nav>